<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <nav>
      <img id="logo" src="/images/mainlogo.png" alt="logo"/>
    </nav>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
