<h1>This is add a course teacher view</h1>
<form id="newcourse-form" action="/teacher/add-course" method="POST">
    <label for=""></label>
    <input type="text" name="name" placeholder="Course name" />
   <br/>
    <label for=""></label>
    <input type="text" name="technology" placeholder="Technology" />
  <br/>
    <label for=""></label>
    <input type="text" name="level" placeholder="Level" />
  <br/>
    <label for=""></label>
    <input type="text" name="description" placeholder="Description" />
  <br/>
    <label for=""></label>
    <input type="text" name="link" placeholder="Course URL" />
  <br/>
    <label for=""></label>
    <input type="text" name="image" placeholder="Image URL" />
      <br/>
    <label for=""></label>
    <input type="text" name="duration" placeholder="Duration" />
  <br/>
    <button class="auth-btn"type="submit">Add new course</button>
    </form>