<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/teacher/homepage"><li>Home</li></a>
        <a href="/teacher/add-course"><li>Add a course</li></a>
        {{!-- <a href="#footer"><li>Contact Us</li></a> --}}
        <a href="/teacher/myaccount"><li>My Account</li></a>
    </ul>
</nav>

<section id="teacher-add-course">
<h1>New course</h1>

<form id="newcourse-form" action="/teacher/add-course" method="POST" enctype="multipart/form-data">
  
    <label for=""></label>
    <input type="text" name="name" placeholder="course name" />

   <br/>

    <label for=""></label>
    <input class="tech-input" type="text" name="technology" placeholder="technology" />

  <br/>
    <label for=""></label>
    <select name="level" id="level" placeholder="level">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
    

  <br/>
    <label for=""></label>
    <input type="text" name="description" placeholder="description" />

  <br/>
    <label for=""></label>
    <input type="text" name="link" placeholder="course URL" />

  <br/>
    <label for=""></label>
    <input type="text" name="duration" placeholder="duration" />

  <br/>
    
    <label for=""></label>
    <input type="file" name="image" placeholder="image URL" />

  <br/>

    <button class="auth-btn"type="submit">Add new course</button>
    </form>

</section>
