<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
   <ul>
        <a href="/teacher/homepage"><li>Home</li></a>
        <a href="/teacher/add-course"><li>Add a course</li></a>
        {{!-- <a href="#footer"><li>Contact Us</li></a> --}}
        <a href="/teacher/myaccount"><li>My Account</li></a>
    </ul>
</nav>

<section class="account">
<h2>My Account</h2>
<div>
    <img class="teacher-image" src="{{user.image}}" alt="" />
</div> 
<div id="account-info">
   <p><img class="teacher-icon" src="https://res.cloudinary.com/skillbees/image/upload/v1613653513/images/user_xbg4bj.png" > Name: {{user.fullname}}</p>
   <p><img class="teacher-icon" src="https://www.flaticon.com/svg/vstatic/svg/1161/1161724.svg?token=exp=1613679830~hmac=aeba2680718dbfcc385ff85e0ff70f18"> Email: {{user.email}}</p>
    <p><img class="teacher-icon" src="https://www.flaticon.com/svg/vstatic/svg/2436/2436636.svg?token=exp=1613679883~hmac=265e0743f7da5e7daa1ca3289aabcf37"> Specialisation: {{user.about}}</p>

</div>   
</div>

<form action='/teacher/logout' method='GET'>
    <button class="logout-button-teacher" type='submit'>Logout</button>
</form>

</section>



