<section class="teach-view">

<div class="teach-auth">

<form id="teach-form" action="/teacher/signup" method="POST">
    <p>SIGN UP</p>
    <p>NEW TO SKILLBEES? SIGN UP FOR FREE</p>

    <label for=""></label>
    <input type="text" name="fullname" placeholder="Fullname">

    <label for=""></label>
    <input type="email" name="email" placeholder="Email">

    <label for=""></label>
    <input type="password" name="password" placeholder="Password">
    

    <label for=""></label>
    <input type="text" name="about" placeholder="Your specialization topics">
    
<br/>
    <button class="auth-btn"type="submit">SIGN UP</button>
</form>

<div class="to-login">
<p>Already a user?</p>
<a href="/teacher/login"><button>Login</button></a>
</div>

</div>

<div class="welcome">
    <h2>WELCOME TO SKILLBEES!</h2>
    <br/>
    <p>Are you a master of programming or data analysis? Upload your own courses and share your knowledge with the world.</p>
     <img id="bee-gif" src="https://media.giphy.com/media/PtG4KMC3oa54un7hHB/giphy.gif" alt="beeGif"/>

</div>

</section>