{{!-- MOBILE --}}

<div class="teach-auth-mobile">
 <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>

<form id="teach-form" action="/teacher/signup" method="POST" enctype="multipart/form-data">
    <p style="color:white">NEW TO SKILLBEES? SIGN UP FOR FREE <img class="login-mobile-icon" src="https://www.flaticon.com/svg/vstatic/svg/350/350948.svg?token=exp=1613683069~hmac=70ef3c2d22d4091ae44390f9ed462cbf"></p>

    <label for=""></label>
    <input type="text" name="fullname" placeholder="Fullname">

    <label for=""></label>
    <input type="email" name="email" placeholder="Email">

    <label for=""></label>
    <input type="password" name="password" placeholder="Password">
    
    <label for=""></label>
    <input type="text" name="about" placeholder="Your specialist subject">
    
<br/>
    <button class="auth-btn"type="submit">SIGN UP</button>
</form>

<div class="to-login">
<p>Already a user?</p>
<a href="/teacher/login"><button>Login</button></a>
</div>

</div>

{{!-- MOBILE --}}


<section class="teach-view">

<div class="teach-auth">

<form id="teach-form" action="/teacher/signup" method="POST" enctype="multipart/form-data">
    <p>SIGN UP</p>
    <p>NEW TO SKILLBEES? SIGN UP FOR FREE</p>

    <label for=""></label>
    <input type="text" name="fullname" placeholder="Fullname">

    <label for=""></label>
    <input type="email" name="email" placeholder="Email">

    <label for=""></label>
    <input type="password" name="password" placeholder="Password">
    
    <label for=""></label>
    <input type="text" name="about" placeholder="Your specialist subject">
    
<br/>
    <button class="auth-btn"type="submit">SIGN UP</button>
</form>
{{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
  {{/if}}
<div class="to-login">
<p>Already a user?</p>
<a href="/teacher/login"><button>Login</button></a>

</div>

</div>

<div class="welcome">
    <h2>WELCOME TO SKILLBEES!</h2>
    <br/>
    <p>Are you a master of programming or data analysis? Upload your own courses and share your knowledge with the world.</p>
     <img id="bee-gif" src="https://media.giphy.com/media/PtG4KMC3oa54un7hHB/giphy.gif" alt="beeGif"/>

</div>

</section>