<h1>My Courses</h1>

<button><a href="/user">Back to homepage</a></button>


{{#each courses}}

<form action="/user/{{this.id}}/remove" method="POST">

<h2>{{this.name}}</h2>
<h2>{{this.description}}</h2>
<h2>{{this.link}}</h2>

<button>Remove</button>
</form>


{{/each}}
