<h1>Add a new review</h1>

<form action='/user/{{_id}}/review' method='POST'>

  <label>Title:</label>
  <input type='text' name='name'>
  <br />

  <label>Comment:</label>
  <input type='text' name='comments'>
  <br />

  <button type='submit'>Add Review</button>
</form>
