<h1>This is the homepage</h1>

<nav>
    <img src="" alt="logo">
</nav>

<div>
    <ul>
        <li>Learning</li>
        <li>My Courses</li>
        <li>Contact Us</li>
        <li>My Account</li>
    </ul>

    <h3>What do you want to learn today?</h3>
</div>

<section id="topics">
    <h2>Technologies</h2>
    <p>Select a technology to see a list of all related courses</p>

  <a href="/courses/Javascript"><button>Javascript</button></a>
  
</section>

<section id="popular">
    <h2>Popular Courses</h2>
<div>
    <img src="" alt="course-logo">
    <h4>JavaScript</h4>
    <h5>Javascript Essentials</h5>
    <button>Join</button>
</div>
<div>
    <img src="" alt="course-logo">
    <h4>Python</h4>
    <h5>Python for Everybody</h5>
    <button>Join</button>
</div>
<div>
    <img src="" alt="course-logo">
    <h4>Node.js</h4>
    <h5>Server-side Development with NodeJS, Express and MongoDB</h5>
    <button>Join</button>
</div>
<div>
    <img src="" alt="course-logo">
    <h4>SQL</h4>
    <h5>Learn SQL Basics for Data Science</h5>
    <button>Join</button>
</div>
</section>

<section id="new-courses">
    <h2>New Courses</h2>

<div>
    <img src="" alt="course-logo">
    <h4>R</h4>
    <h5>Advanced R Programming</h5>
    <a href="/auth/favorites"><button>Join</button></a>
</div>
<div>
    <img src="" alt="course-logo">
    <h4>HTML/CSS</h4>
    <h5>HTML5 and CSS3 - Learn to build responsive websites</h5>
    <a href="/auth/favorites"><button>Join</button></a>
</div>
<div>
    <img src="" alt="course-logo">
    <h4>React.js</h4>
    <h5>Javascript frameworks - React.js for beginners</h5>
    <a href="/auth/favorites"><button>Join</button></a>
</div>
<div>
    <img src="" alt="course-logo">
    <h4>JavaScript</h4>
    <h5>Advanced Javascript</h5>
    <a href="/auth/favorites"><button>Join</button></a>
</div>
</section>