<h1>This is the homepage</h1>

<nav>
    <img src="" alt="logo">
</nav>

<div>
    <ul>
        <li>Learning</li>
        <a href="/user/favorites"><li>My Courses</li></a>
        <li>Contact Us</li>
        <a href="/user/account"><li>My Account</li></a>
    </ul>

    <h3>What do you want to learn today?</h3>
</div>

<section id="topics">
    <h2>Technologies</h2>
    <p>Select a technology to see a list of all related courses</p>
    <button><a href="/user/courses/javascript">Javascript</a></button>
    <button><a href="/user/courses/react">React</a></button>
    <button><a href="/user/courses/html">HTML</a></button> 
    <button><a href="/user/courses/css">CSS</a></button> 
    <button><a href="/user/courses/nodejs">NodeJS</a></button> 
    <button><a href="/user/courses/r">R</a></button> 
    <button><a href="/user/courses/sql">SQL</a></button> 
    <button><a href="/user/courses/python">Python</a></button> 

</section>



<section id="popular">
    <h2>Popular Courses</h2>

{{#each allCourses}}
<form action="/user/{{this.id}}/favorites" method="POST">

   <img src="{{this.image}}" alt="">
    <h4>{{this.technology}}</h4>
    <h5>{{this.name}}</h5>

     <img src="" alt="course-logo">
    <button>Join</button>

</form>
{{/each}}
</section>


</section>