<section class="menu">
    <ul>
        <li><a href="/user">Learning</a></li>
        <li><a href="/user/favorites">My Courses</a></li>
        <li><a href="/user">Contact Us</a></li>
        <li><a href="/user/account">My Account</a></li>
    </ul>
<div>
    <h3>What do you want to learn today?</h3>
</div>
</section>
  <h2>Technologies</h2>
<section class="topics">
    <button class="technology-button"><a href="/user/courses/javascript">Javascript</a></button>
    <button class="technology-button"><a href="/user/courses/react">React</a></button>
    <button class="technology-button"><a href="/user/courses/html">HTML</a></button>
    <button class="technology-button"><a href="/user/courses/css">CSS</a></button>
    <button class="technology-button"><a href="/user/courses/nodejs">NodeJS</a></button>
    <button class="technology-button"><a href="/user/courses/r">R</a></button>
    <button class="technology-button"><a href="/user/courses/sql">SQL</a></button>
    <button class="technology-button"><a href="/user/courses/python">Python</a></button>
</section>

<section class="popular">
<h2>Popular Courses</h2>

<div class="popular-courses">
{{#each allCourses}}
<form action="/user/{{this.id}}/favorites" method="POST">

   <img src="{{this.image}}" alt="">
    <h4>{{this.technology}}</h4>
    <h5>{{this.name}}</h5>

    <button class="join-button">Join</button>

</form>
{{/each}}
</div>
</section>

<section class="footer">
  <p>Contact us</p>
  <div>
      <img id="email" src="/images/email.png" alt="emailLogo">
      <p>help@skillbees.com</p>
  </div>
     <nav>
      <img id="linkedin" src="/images/linkedin.png" alt="linkedlogo"/>
      <a href="">Georgia Adams</a><a href="">Anna Mazurek</a>
    </nav>

</section>
