
<div class = "myaccount">
<a href="/user">Back to homepage</a>
<h1>My Account</h1>
<section id = "personal-details">
<h1 style="color:#fbce2c;">Personal details:</h1>
<h3>{{user.fullname}}</h3>
<h3>{{user.email}}</h3>
</section>
<br>
<section id = "account-delete">
 <button onclick="document.getElementById('id01').style.display='block'">Delete Account</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form action='/user/delete' method='GET'>
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete your account?</p>

      <div class="clearfix">
        <button type="submit" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>
</section>
<br>
 <form action='/logout' method='GET'>
              <button class="logout-button" type='submit'>Logout</button>
            </form>
</div>


