<nav class="nav-bar">
    <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
    <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="/user/account"><li>My Account</li></a>
    </ul>
</nav>

<div class = "myaccount">
<h1>My Account</h1>
<section id = "personal-details">
  <h1 style="color:#fbce2c;">Personal details:</h1>
    <h3><img class="teacher-icon" src="https://res.cloudinary.com/skillbees/image/upload/v1613653513/images/user_xbg4bj.png" >  Name: {{user.fullname}}</h3>
    <h3><img class="teacher-icon" src="https://www.flaticon.com/svg/vstatic/svg/1161/1161724.svg?token=exp=1613679830~hmac=aeba2680718dbfcc385ff85e0ff70f18"> Email: {{user.email}}</h3>
</section>

<br>

<section id = "account-delete">
 <button onclick="document.getElementById('id01').style.display='block'">Delete Account</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form action='/user/delete' method='GET'>
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete your account?</p>

      <div class="clearfix">
        <button type="submit" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>
</section>

<br>

 <form action='/logout' method='GET'>
    <button class="logout-button" type='submit'>Logout</button>
  </form>
</div>


