<nav class="nav-bar">
        <img id="nav-logo"src="/images/mainlogo.png" alt="logo"/>
         <ul>
        <a href="/user"><li>Learning</li></a>
        <a href="/user/favorites"><li>My Courses</li></a>
        <a href="/user/account"><li>My Account</li></a>
        </ul>
  </nav>

<section id="new-review">
<h3>Really enjoyed this course? Do you think it could use some improvements?</h3>
<h3 style="color: white">Share your thoughts here!</h3>
<img class="hand-star" src="https://res.cloudinary.com/skillbees/image/upload/v1613647860/images/rating_mvwzkc.png">
<div class="review-form">
<form action="/user/{{_id}}/review" method="POST">


  <label></label>
  <input class="review-name" type='text' name='title' placeholder="Username">

  <br />
  <label></label>

  <input class="review-comments" type='text' name='comments' placeholder="Your comment">
  <br />

  <button class="new-review-btn" type='submit'>Submit</button>

</form>
</div>
</section>
