<header>
    <img id="logo" src="/images/mainlogo.png" alt="logo"/>
</header>

{{!-- MOBILE --}}

   <div class="auth-box-mobile">
        <form id="auth-form" action="/" method="POST">
            <p style="color:white">NEW TO SKILLBEES? SIGN UP FOR FREE <img class="login-mobile-icon" src="https://www.flaticon.com/svg/vstatic/svg/350/350948.svg?token=exp=1613683069~hmac=70ef3c2d22d4091ae44390f9ed462cbf"></p>

            <label for=""></label>
            <input type="text" name="fullname" placeholder="Fullname">

            <label for=""></label>
            <input type="email" name="email" placeholder="Email">

            <label for=""></label>
            <input type="password" name="password" placeholder="Password">
        <br/>
            <button class="auth-btn"type="submit">SIGN UP</button>
        </form>
         <button class="mobile-teacher-join"type="submit"><a href="/teacher/signup">Join as a teacher</a></button>

<div class="to-login">
    <p style="color:white">Already a user?</p>
    <a href="/login"><button>Login</button></a>
</div>
    </div>


{{!-- MOBILE --}}


<section class="auth-view"> 
    <div class="auth-box">
        <form id="auth-form" action="/" method="POST">
            <p>SIGN UP</p>
            <p id="p2">NEW TO SKILLBEES? SIGN UP FOR FREE</p>

            <label for=""></label>
            <input type="text" name="fullname" placeholder="Fullname">

            <label for=""></label>
            <input type="email" name="email" placeholder="Email">

            <label for=""></label>
            <input type="password" name="password" placeholder="Password">
        <br/>
            <button class="auth-btn"type="submit">SIGN UP</button>
        </form>
{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}
<div class="to-login">
    <p>Already a user?</p>
    <a href="/login"><button>Login</button></a>
</div>


</div>



<div class="welcome">
    <h2>WELCOME TO SKILLBEES!</h2>

    <p>Are you looking to learn something new? Or just want to improve your current knowledge? 
        Skillbees app provides access to a library of online video courses related to Web Dev and Data, created by some amazing teachers in the industry!</p>
    <br/>

<div class="switch-signup">
    <img src="/images/idea.png" alt="">
    <p>Are you a teacher? You can Sign up here</p> 
    <a href="/teacher/signup"><button>Sign Up</button></a>
</div>  
</div>

</section>



