<h2>Sign up page</h2>

<form action="/auth/signup" method="POST">
<label for=""></label>
<input type="text" name="fullname" value="Full name">
<br>
<label for=""></label>
<input type="text" name="email" value="Email">
<br>
<label for=""></label>
<input type="password" name="password" value="Password">
<br>
<button type="submit">Sign up</button>
</form>
{{#if errorMessage}}
<div>
    {{errorMessage}}
</div>
{{/if}}
