<section class="auth-view">

<div class="auth-box">

    <form id="auth-form" action="/" method="POST">
    <p>SIGN UP</p>
    <p>NEW TO SKILLBEES? SIGN UP FOR FREE</p>

    <label for=""></label>
    <input type="text" name="fullname" placeholder="Fullname">
<br/>
    <label for=""></label>
    <input type="email" name="email" placeholder="Email">
<br/>
    <label for=""></label>
    <input type="password" name="password" placeholder="Password">
<br/>
    <button class="auth-btn"type="submit">SIGN UP</button>
</form>

<div>

<p>Already a user?</p>
<a id="log-btn" href="/login"><button>LOGIN</button></a>
</div>

</div>

<div class="welcome">
    <h2>WELCOME TO SKILLBEES!</h2>
</div>

</section>




{{#if errorMessage}}
<div>
    {{errorMessage}}
</div>
{{/if}}
